@import url('https://fonts.googleapis.com/css2? family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --veryDarkBlue: rgb(9, 11, 26, .99); /* (main background) */
    --darkDesaturatedBlue: rgb(27, 25, 56); /* (card background) */
    --softViolet: rgb(170, 92, 219); /* (accent) */

    --White: rgb(255, 255, 255); /* (main heading, stats) */
    --slightlyTransparentWhite: rgba(255, 255, 255, 0.75); /* (main paragraph) */
    --slightlyTransparentWhite: rgba(255, 255, 255, 0.6); /* (stat headings) */
    --layer: rgba(110, 30, 160, .7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    padding: 90px 20px 0px 20px;
    width: 100%;
    height: 100vh;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background: linear-gradient(var(--veryDarkBlue), var(--veryDarkBlue)), url(../images/fondo.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'main'
        'footer'
    ;
    gap: 90px;
}

/* ---------- MAIN ---------- */
.main {
    grid-area: main;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    background: var(--darkDesaturatedBlue);
    width: 321px;
    height:728px;
}

.banner {
    width: 100%;
    height: 239px;
    background: linear-gradient( var(--layer), var(--layer)), 
        url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------- CARD ---------- */
.card {
    padding: 30px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 40px;
}

.card1 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: center;
    color: var(--White);
}
.title span {
    color: var(--softViolet);
}
.text {
    font-family: 'Inter', sans-serif;
    color: var(--slightlyTransparentWhite);
    font-size: 14px;
    text-align: center;
    line-height: 25px;
}


/* ---------- STARS ---------- */
.stars {
    width: 100%;
    height: 210px;
    color: var(--White);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.starsDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    gap: 8px;
}

.concept {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--slightlyTransparentWhite);
}

/* ---------- FOOTER ---------- */
.footer {
    border: transparent;
    grid-area: footer;
    width: 100%;
    height: auto;
    color: var(--White);
}

.footer div {
    color: var(--veryLightGray);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px 5px;
    color: rgb(176, 192, 255);
    letter-spacing: 1px;
    text-decoration: none;
    transition: background 300ms ease;
}

.attribution a:hover {
    background: rgb(27, 25, 56, .5);
}

.attribution a:active {
    background: rgb(176, 192, 255);
    color: rgb(27, 25, 56, .5);
}

@media screen and (min-width: 600px) {
    /* ---- MAIN ---- */
    .main {
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'card banner'
        ;
    }

    .card {
        grid-area: card;
        padding: 75px 30px 75px 30px;
        width: auto;
        height: auto;
        gap: 40px;
    }

    .title {
        width: 100%;
        font-size: 1.7em;
        text-align: left;
    }

    .text {
        width: 100%;
        max-width: 340px;
        font-size: 14px;
        text-align: left;
    }

    .stars {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    
    .starsDetails {
        align-items: flex-start;
    }

    .banner {
        grid-area: banner;
        width: 100%;
        height: auto;
        background: linear-gradient( var(--layer), var(--layer)), 
        url(../images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* ---- FOOTER ---- */
    .footer div {
        margin: 0 auto;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .footer div p {
        width: auto;
        font-size: .9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1250px) {
    /* ---- MAIN ---- */
    .main {
        grid-template-columns: auto auto;
    }

    .card {
        padding: 75px 110px 75px 70px;
        width: 100%;
        max-width: 573px;
        height: auto;
        gap: 80px;
    }

    .title {
        font-size: 2.5em;
    }

    .banner {
        width: 625px;
    }
}